<div class="card mb-5">
  <div class="card-header has-background-danger-light">
    <p class="card-header-title">
      <a href="/post/{{id}}">{{title}}</a>
    </p>
  </div>
  <div class="card-content has-background-primary-light">
    <div class="content">
      Posted by:
      {{creator.username}}
      <br />
      {{format_date date}}
      <br />
    </div>
  </div>
</div>