<div class="columns">
  <div class="menu column is-2 mt-6">
    <p class="menu-label">
      Posts
    </p>
    <ul class="menu-list">
      <li><a href="/dashboard?opt=1">My Posts</a></li>
      <li><a href="/dashboard?opt=2">Create Posts</a></li>
    </ul>
    <p class="menu-label">
      Profile
    </p>
    <ul class="menu-list">
      <li><a href="/dashboard?opt=3">Update Username</a></li>
      <li><a href="/dashboard?opt=4">Update Password</a></li>
    </ul>
  </div>
  <section class="section column">
    {{#if query}}  
      {{#if (equal query "1")}}
      <h1 class="title header-style">My Posts:</h1>
      {{#each posts as |post|}}
      {{> post-details}}
      {{/each}}
      <script src="/js/myPosts.js"></script>
      {{/if}}
      {{#if (equal query "2")}}
      <h1 class="title header-style">Create Posts</h1>
      {{> create-details}}
      <script src="/js/createPost.js"></script>
      {{/if}}
      {{#if (equal query "3")}}
      {{> update-username}}
      {{/if}}
      {{#if (equal query "4")}}
      {{> update-password}}
      {{/if}}
    {{else}}
    {{> dashboard-main}}
    {{/if}}
  </section>
</div>
