<div class="container">
            <p id="posts-homepage">Posts</p>
            {{#each posts as |post| }}
            {{> post-details}}
            {{/each}}
</div>



<script src="/js/homepage.js"></script>
